# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf

insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

csharp_new_line_before_open_brace = none


# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion

# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = true:silent

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = suggestion

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = suggestion

# Accessing a member that was not originally public as suggestion
# We are bound to modify / call private members because of this project nature
dotnet_diagnostic.Publicizer001.severity=suggestion

[*.csproj]
indent_style = space
indent_size = 2
