name: CI Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest  
    steps:
          
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.x'
    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v0.9.7
    - name: Update versions
      run: |
        sed -i -E "s/(PluginVersion\s*=\s*)\"0.0.1\"/\1\"$GitVersion_SemVer\"/" R2API/R2API.cs
        sed -i -E "s/(\"version_number\":\s*)\"0.0.1\"/\1\"$GitVersion_SemVer\"/" manifest.json
    - name: Build project
      uses: actions/setup-dotnet@v1.7.2
    - run: dotnet build .
    - name: Prepare Artifact
      run: |
        mkdir plugins
        mkdir plugins/R2API
        cp R2API/bin/Debug/**/*.dll plugins/R2API/
        cp R2API/bin/Debug/**/*.xml plugins/R2API/
    - name: Upload R2API Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: R2API
        path: |
          plugins/*
          manifest.json
          icon.png
          README.md
