name: CI Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3' # SDK Version to use.
      - run: dotnet build .
  
