name: Thunderstore Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest  
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Setup TCLI
      run: dotnet tool install --global tcli

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Build projects
      run: |
        cd BuildCI

        for line in $(dotnet run Program.cs); do
          IFS='|' read -ra parts <<< "$line"
          namespace=${parts[0]}
          name_underscore_separator=${parts[1]}
          version=${parts[2]}
          csproj_folder=${parts[3]}
          name_dot_separator=${name_underscore_separator//_/.}

          cd $csproj_folder

          is_project_built=false

          existing_version_number=$(curl --compressed -s "https://api-v2v3search-0.nuget.org/query?q=packageid:${name_dot_separator}&prerelease=true&semVerLevel=2.0.0" | jq '.data[0].versions[].version' 2> /dev/null | grep "${version}\"")
          if [ -z $existing_version_number ]
          then
            dotnet pack --configuration Release --output ./ReleaseOutput /p:OutputPath=./ReleaseOutput -p:Version=$version
            is_project_built=true

            if [ "$namespace" == "RiskofThunder" ]; then
              nuget setapikey "${{ secrets.NUGET_API_KEY_RISK_OF_THUNDER }}"
            else
              nuget setapikey "${{ secrets.NUGET_API_KEY }}"
            fi
            
            nuget push ./ReleaseOutput/*.nupkg -Source 'https://api.nuget.org/v3/index.json'
            find . -name '*.nupkg' -type f -delete
          fi

          existing_version_number=$(curl --compressed -s "https://thunderstore.io/api/v1/package/" | jq '.[] | select(.full_name|startswith("${name_underscore_separator}")) | .versions[0].version_number' | grep "${version}\"")
          if [ -z $existing_version_number ]
          then
            if [ "is_project_built" = false ] ; then
              dotnet pack --configuration Release --output ./ReleaseOutput /p:OutputPath=./ReleaseOutput -p:Version=$version
              is_project_built=true
            fi

            find . -name "*.pdb" -type f -delete
            find . -name "*.deps.json" -type f -delete

            if [ "$namespace" == "RiskofThunder" ]; then
              tcli publish --token ${{ secrets.TCLI_AUTH_TOKEN_RISK_OF_THUNDER }} --package-version $version --config-path ./thunderstore.toml
            else
              tcli publish --token ${{ secrets.TCLI_AUTH_TOKEN }} --package-version $version --config-path ./thunderstore.toml
            fi
          fi
        done
